<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leap Year - Flask Project</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

     <h1>Leap Year Checker</h1>

    <form method="POST">
        <input type="number" name="year" placeholder="Enter year" required>
        <button type="submit">Check</button>
    </form>

    {% if result %}
        <h2 class="{% if 'NOT' in result %}not-leap{% else %}leap{% endif %}">
            {{ result }}
        </h2>
    {% endif %}

</body>
</html>