body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    font-weight: bold;
}

.leap {
    color: green;
}

.not-leap {
    color: red;
}